<section ng-controller="BoundariesController">
  <div class="page-header">
    <h1>New Boundary</h1>
  </div>
  <div class="col-md-12">
    <form name="boundaryForm" class="form-horizontal" ng-submit="create(boundaryForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
              <input type="file" on-read-file="showContent($fileContent)" />
			<div ng-if="content">
				<h2>File content is:</h2>
				<pre>{{ content }}</pre>
			</div>
		<div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
