
<section ng-controller="BoundariesController" ng-init="findOne()">
<div class="page-header">
   <h1>Edit Boundary</h1>
</div>
    <h4>{{boundary.properties.MANAME}}</h4>
    <h6>{{boundary._id}}</h6>
    <hr>
    <h3> Edit Coordinates </h3>
    <input type="file" on-read-file="showContent($fileContent)"/>
    <div ng-if="content">
        <hr>
        <h2>Preview: </h2>
        <section class="preview">
        <leaflet geojson="geojson" center="center" width="100%" height="100%"></leaflet>
        </section>
    </div>
</div>
</section>
