
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<section ng-controller="BoundariesController" ng-init="find()">

  <div class="page-header">
    <h1>Boundaries</h1>
  </div>
  <div class="load" ng-show="loading">
      <img ng-src="/modules/core/client/img/loaders/loader.gif">
    </div>
  <div class="searchBar" ng-hide="loading">
	   <input type="text" class="form-control" placeholder="Search" ng-model="searchingBar" style="background-color:white">
  </div>
  <select ng-hide="loading" id="manager-filter" ng-model="filters.MGRINST">
	 <option ng-click="filters.MGRINST = ''">Clear</option>
	 <li>
	   <option ng-repeat="boundary in boundaries">{{boundary.properties.MGRINST}}</option>
	 </li>
  </select>
  <div class="list-group" ng-hide="loading">
    <div>
       <h3>Click on a property to view details</h3>
    </div>
    <a ng-repeat="boundary in boundaries | orderBy:'properties.MANAME' | filter:searchingBar | filter:filters.MGRINST" ui-sref="boundaries.edit({boundaryId: boundary._id, bounaryFeature: boundary})" class="list-group-item"> 
      <h4 ng-bind="boundary.properties.MANAME"></h4>
      <small class="list-group-item-text">
        Boundary Id
        <span ng-bind="boundary._id"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="boundary.title"></h4>
      <p class="list-group-item-text" ng-bind="boundary.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="boundaries.$resolved && !boundaries.length">
    No boundaries yet, why don't you <a ui-sref="boundaries.create">create one</a>?
  </div>
</section>
