<head>
	<style>
			body { margin:0; padding:0; }
			/*#mapboxi { position:absolute; top:0; bottom:0; width:100%;}*/
	</style>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<section class="map" ng-controller="BoundariesController" >
	<leaflet maxbounds="maxbounds" id="boundary" tiles="tiles" lf-center="alachua" controls="controls" geojson="geojson" width="100%" height="100%"></leaflet>

  <div ng-controller="BoundariesController" class="sidebar">
			<div id="site-wrapper" off-canvas-menu ng-class="{'show-nav':isMenuOpen}">
				<div id="site-canvas">
					<div id="site-menu" >
					
					<div id="sidebar_maname">
						{{b_maname}}
					</div>

					<div class="dropdown">
				        <div ng-repeat="item in boundary_items" ng-click="showChildren(item)" class="dropbtn">
				            <h4 class="headings">{{item.name}}</h4>
				            
				                <div ng-repeat="subItem in item.subItems" ng-show="item.active" class="sidebar_subclass">
				                	<span id="sidebar_subtitles">{{subItem.desc}}</span>
				                    <span id="sidebar_subitems">{{subItem.name}}</span>
				                </div>
				            
				        </div>
				    </div>
					
					</div>
					<div class="navbar-header-btn">
						<button type="button" id="btn-yeah" class="toggle-nav btn btn-lg btn-primary" ng-click="toggleMenu()">
							Info
							</button> 
					</div>  
					
					<h1 class="text-center"></h1>
          <!-- #site-canvas -->
        </div>
        <!-- #site-wrapper> -->
      </div>
  </div>
<div class="footer">
 			<span class = "footer-text">Made with <i style="color: #FF4D40;" class="fa fa-heart pulse"> </i> in Gainesville</span>
 			</div>
</section>

