.navbar {
  border-bottom: 0px;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.navbar-head{
  background-color: #3f6f83;
  padding: 7px 25px;}

.userButton{
  color: white;
  text-shadow: none !important;
  font-family: "myriad-pro-condensed-n4", "myriad-pro-condensed", sans-serif;
}


.navbar-inverse .navbar-brand{
  color: white;
}
.navbar-inverse .navbar-nav > li > a{
  color: white;
}
.navbar-inverse .navbar-brand:hover{
  color: black;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: black;
}

.navbar-brand{
  /*color: black;*/
  font-size: 22px;
  font-family: "myriad-pro-condensed-n4", "myriad-pro-condensed", sans-serif;
  text-shadow: none !important;
}
section {
  height: 100%;
}
.angular-leaflet-map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.leaflet-control-container{
  position: absolute;
  top: 7rem;
}

.header-logo{
  height: 34px;
  /*width: auto;*/
  margin-top: 8px;
  margin-right: 60px;

  -webkit-filter: brightness(0) invert(1);

}
.header-logo-wordmark{
  height: 34px;
  /*width: auto;*/
  margin-top: -6px;
  margin-right: 60px;

  -webkit-filter: brightness(0) invert(1);

}
