.navbar {
  border-bottom: 0;
  padding-bottom: 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 9px -1px rgba(0,0,0,0.32);
  -moz-box-shadow: 0 0 9px -1px rgba(0,0,0,0.32);
  box-shadow: 0 0 9px -1px rgba(0,0,0,0.32);
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.navbar-head{
  /*background-color: #3f6f83;*/
  background-color: #ffffff;
  padding: 0 25px;
  width: 100%;
}
.leaflet-fullscreen-on{
  top: 0;
}
.userButton{
  color: black;
  text-shadow: none !important;
  font-family: "myriad-pro-condensed-n4", "myriad-pro-condensed", sans-serif;
}
.navbar-inverse .navbar-brand{
  color: white;
}
.navbar-inverse .navbar-nav > li > a{
  color: black;
  font-size: 16px;
}
.navbar-inverse .navbar-brand:hover{
  color: black;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: black;
}
.dropdown-toggle .user-header-dropdown-toggle{
  background-color: white !important;
}
.navbar-brand{
  /*color: black;*/
  font-size: 22px;
  font-family: "myriad-pro-condensed-n4", "myriad-pro-condensed", sans-serif;
  text-shadow: none !important;
}
section {
  height: 100%;
}
section > .map {
  position: absolute;
  left: 0;
  /*right: 100px;*/
  width: 100vw;
  top: 0;

}
.leaflet-control-container{
  position: absolute;
  top: 7rem;
}

.header-logo{
  height: 34px;
  /*width: auto;*/
  margin-top: 8px;
  margin-right: 60px;
  filter: brightness(0);
  -webkit-filter: brightness(0);

}
.header-logo-wordmark{
  height: 34px;
  /*width: auto;*/
  margin-top: -6px;
  margin-right: 60px;
  filter: brightness(0);
  -webkit-filter: brightness(0);

}
.button i {
  position: absolute;
  /*bottom: 3rem;
  right: 2rem;*/
  bottom: 3rem;
  left: 1rem;
  background-color: white;
  border-radius: 4px;
  font-size: 17px;
  padding: 5px;
  width: 26px;
  height: 26px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  z-index: 1000;
  cursor: pointer;
}
.button i:hover {
 background-color: #f2f2f2;
}

.home-footer{
  height: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
}

.home-footer-text{
  margin: 0 0 20px 0;
  color: white;
  font-size: 11px;
  display: block;
  text-align: center;
  /*vertical-align: bottom;*/
}

.navbar-inverse{
  padding-top: 10px;
  /*background-image: linear-gradient(to bottom, #3f6f83 0%, #3f6f83 100%);*/
  background-image: linear-gradient(to bottom, #000 0, #000 100%);
  background-color: black;
}

.social-media {
  /*height: 66px;
  width: 157px;*/
  display: inline;
  position: relative;

}

.leaflet-popup-content {
  color: black;
  text-align: center;
  /*font-size: 15px;*/
  /*margin: 0px;*/
  /*border: 0px;*/
}

.leaflet-popup-content-wrapper {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.05);
}

@media screen and (max-width: 992px) {
  .navbar-head{
    padding: 0;
  }
}

#county{
  width: 100% !important;
  height: 100%;
  position: fixed;
  left: 0;
}

#home-btn-yeah {
  /*padding-top: 10px;*/
  height: 50px;
  width: 50px;
  font-size: 12px;
  position: absolute;
  top: 10px; /* Use to move button */
  right: 0;
  border-radius: 0;
  /*background-color: #407186;*/
  background-color: black;
  background-image: none;
  border: 0;
  /*outline: none;*/
  border-left: 2px green !important;
}

.fa-bars {
  /*color: red;*/
  text-shadow: none !important;
  font-size: 16px !important;
}

/*#home-btn-yeah:active {
  outline: none !important;
}*/

#home-site-canvas{
  width: 0;
  height: 100%;
  position: fixed;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 500ms ease all;
  backface-visibility: hidden;
  padding: 5% 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2


}
.home-show-nav #home-site-canvas {
  transform: translateX(-300px);
  transform: translate3d(-300px, 0, 0);
  /*width: 100% !important;*/
}

/*.home-show-nav #home-site-canvas #county{
  width: 50% !important;
}*/

#home-site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -300px;
  background-color: white;
  background-image: url("/modules/core/client/img/search-sidebar/textile-background.jpg");
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  /*margin-top: 60px;*/
  overflow: scroll;
  z-index: 2;
  -webkit-box-shadow: inset 83px 0 21px -81px rgba(0,0,0,0.32);
-moz-box-shadow: inset 83px 0 21px -81px rgba(0,0,0,0.32);
box-shadow: inset 83px 0 21px -81px rgba(0,0,0,0.32);
}

.filter-bar {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter {
  padding: 10px 0;
}


.filter .acres {
  border: 0;
  border: none;
  color: #e4e6e7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.filter .filter-button {
  padding: 0 0;
}

.filter label {
  display: block;
  margin: 0;
}
.filter label span {
  text-align:center;
  display:block;
  margin: 0;
  padding: 10px 0;
  background-color: #b8bbbc;
}
.filter label input {
  display: none;
  position:absolute;
}
.filter input:checked + span {
    background-color: #407186;
    color:#fff;
}
.filter input:checked:hover + span {
    background-color: #4a8093;

    color:#fff;
}
.filter .acres:hover span {
    background-color: #bcc0c3;
    color:#fff;
}
.filter .filter-left span {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: solid 2px black;
}
.filter .filter-right span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: solid 2px black;
}

.radius-filter {
  position: relative;
  border:0;
  padding: 0;
  margin-top: 38px;
  margin-bottom: 10px;
  padding-bottom: 10px;

}
.rad_button_submit{
  height: 100%;
  right:1%;
  top:0;
  position: absolute;
  border: 0;
  background-color: transparent;
}
.rad_button_cancel{
  height: 100%;
  right:8%;
  top:0;
  position: absolute;
  border: 0;
  background-color: transparent;
}

.rad_button:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
.glyphicon-search{
  color: #4a8093;
}
.glyphicon-remove-circle{
  color: #a32f2f;
}
.glyphicon-chevron-down{
  float: right;
}

.list-group{
  cursor: pointer;
}

/*----------------------*/
#filter-btn-yeah {
  /*padding-top: 10px;*/
  height: 150px;
  width: 50%;
  font-size: 12px;
  position: absolute;
  /*top: 10px;  Use to move button */
  /*right: 0;*/
  border-radius: 0;
  /*background-color: #407186;*/
  background-color: green;
  background-image: none;
  border: 0;
  /*outline: none;*/
  /*border-left: 2px green !important;*/
  z-index: 100;
}
/*
.fa-bars {
  text-shadow: none !important;
  font-size: 16px !important;
}
*/
/*#home-btn-yeah:active {
  outline: none !important;
}*/

#home-filter-canvas{
  width: 100%;
  height: 200px;
  position: fixed;
  transform: translateY(0);
  transform: translate3d(0, 0, 0);
  transition: 500ms ease all;
  backface-visibility: hidden;
  padding: 5% 0;
  right: 0;
  top: 0;
  bottom: 0;


}
.home-show-filter #home-filter-canvas {
  transform: translateY(300px);
  transform: translate3d(0, -300px, 0);
  /*width: 100% !important;*/
}

.btn-success {
  background-color: #407186 !important;
  background-image: none;
}

/*.home-show-nav #home-site-canvas #county{
  width: 50% !important;
}*/

#home-filter-menu {
  width: 100%;
  height: 350px;
  position: fixed;
  top: -200px;
  background-color: red;
  /*background-image: url("/modules/core/client/img/search-sidebar/textile-background.jpg");*/
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  /*margin-top: 60px;*/
  /*overflow: scroll;*/
  -webkit-box-shadow: inset 83px 0 21px -81px rgba(0,0,0,0.32);
  -moz-box-shadow: inset 83px 0 21px -81px rgba(0,0,0,0.32);
  box-shadow: inset 83px 0 21px -81px rgba(0,0,0,0.32);
}
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}
.filter-subclass{
  transition: .3s ease all;
  overflow: hidden;
  height: 165px;
  padding: 0 10px;
  /*background-color: #e8ffea;*/
}
.filter-subclass.ng-hide{
  height:0;
}
.filter-button{
  text-align: center;
  background-color: #407186;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  margin-bottom: 0;

}

#details-acres {
  font-size: 0px;
  margin: 0px;
  transition: font-size 0.1s ease;
}
.acres:hover #details-acres {
  font-size: 10px;

}




#clear-filter {
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #b8bbbc;
}

button:focus {
  outline: 0;
}
