
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.navbar-head{
  background-color: #1C941C;
  padding-right: 25px;
  padding-left: 25px;
}
.navbar-inverse .navbar-brand{
  color: white;
}
.navbar-inverse .navbar-nav > li > a{
  color: white;
}
.navbar-inverse .navbar-brand:hover{
  color: black;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: black;
}
section {
  height: 100%;
}
.angular-leaflet-map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.leaflet-control-container{
  position: absolute;
  top: 5rem;
}
