<div class="navbar-head" ng-controller="HeaderController">
  <div class="navbar-header">
    <div class="col-xs-2">
      <img class="header-logo" ng-src="/modules/core/client/img/brand/ACT-logo copy.png" alt="poo">
    </div>
    <div class="col-xs-10">
      <a ui-sref="home" class="navbar-brand"><img class="header-logo-wordmark" ng-src="/modules/core/client/img/brand/ACT-logo.png"></a>
    </div>
  </div>

  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user"></ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" style="margin-bottom: 0px;" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="admin.users">Manage Users</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="boundaries.list">View Boundaries</a>
          </li>
		      <li ui-sref-active="active">
            <a ui-sref="boundaries.create">Add Boundary</a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="trails.list">View Trails</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="trails.create">Add Trail</a>
          </li>
          <li class="divider"></li>
		      <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
          <li>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
