<div class="navbar-head" ng-controller="HeaderController">
  <div class="navbar-header">
    <div class="col-xs-2">
      <img class="header-logo" ng-src="/modules/core/client/img/brand/ACT-logo copy.png" alt="poo">
    </div>
    <div class="col-xs-10">
      <a ui-sref="home" class="navbar-brand"><img class="header-logo-wordmark" ng-src="/modules/core/client/img/brand/ACT-logo.png"></a>
      <!--<div class="social-media">
    <a href="https://www.facebook.com/AlachuaConservationTrust?ref=ts"><img src="modules/core/client/img/social/Main-topnav_norm_10.png" name="Image5" width="54" height="66" border="0" id="Image5" /></a>
      <a href="http://twitter.com/alachuaconserv"><img src="modules/core/client/img/social/Main-topnav_norm_TWITTER.png" name="Image4" width="43" height="66" border="0" id="Image4" /></a>
      <a href="https://plus.google.com/102570903478935567311"><img src="modules/core/client/img/social/Main-topnav_norm_11.png" name="Image7" width="43" height="66" border="0" id="Image7" /></a>
      <a href="http://www.flickr.com/photos/alachua_conservation_trust/sets/"><img src="modules/core/client/img/social/Main-topnav_norm_12.png" name="Image3" width="60" height="66" border="0" id="Image3" /></a></div>-->

  </div>
  </div>


  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">

    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <!--<li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>-->


      <!-- <div class="social-media">
      <a href="https://www.facebook.com/AlachuaConservationTrust?ref=ts"><img src="modules/core/client/img/social/Main-topnav_norm_10.png" name="Image5" width="44" height="42" border="1" id="Image5" /></a>
      <a href="http://twitter.com/alachuaconserv"><img src="modules/core/client/img/social/Main-topnav_norm_TWITTER.png" name="Image4" width="44" height="42" border="1" id="Image4" /></a>
      <a href="https://plus.google.com/102570903478935567311"><img src="modules/core/client/img/social/Main-topnav_norm_11.png" name="Image7" width="44" height="42" border="1" id="Image7" /></a>
      <a href="http://www.flickr.com/photos/alachua_conservation_trust/sets/"><img src="modules/core/client/img/social/Main-topnav_norm_12.png" name="Image3" width="44" height="42" border="1" id="Image3" /></a>
      <button type="button" id="home-btn-yeah" class="home-toggle-nav btn btn-lg btn-primary" ng-click="toggleMenu()">

      <i class="fa fa-search"></i>
      </button>
    </div> -->



    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="admin.users">Manage Users</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="boundaries.list">View Boundaries</a>
          </li>
		      <li ui-sref-active="active">
            <a ui-sref="boundaries.create">Add Boundary</a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="trails.list">View Trails</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="trails.create">Add Trail</a>
          </li>
          <li class="divider"></li>
		      <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
          <li>
          </li>
        </ul>
      </li>

</ul>
  </nav>
</div>
