<div class="navbar-head" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand">Trailblazer</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="admin.users">Manage Users</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
