<head>
	<style>
			body { margin:0; padding:0; }
	</style>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<section>
	<section class="map" ng-controller="HomeController">
		<leaflet maxbounds="maxbounds" tiles="tiles" id="county" lf-center="alachua" controls="controls" geojson="geojson" width="100%" height="100%"></leaflet>
		<div class="button">
			<span class="button" ng-click="findUser()"><i class="fa fa-location-arrow"></i></span>
		</div>
		<div class="button">
 			<span type="button" ng-click="homeView()"><i class="fa fa-home" style="bottom: 7rem;"></i></span>
 		</div>

	<div class="home_sidebar">

			<div id="home-site-wrapper" off-canvas-menu ng-class="{'home-show-nav':isMenuOpen}">
				<div id="home-site-canvas">
					<div id="home-site-menu">
						<div class="searchBar">
							<input type="text" class="form-control" placeholder="Search" data-ng-model="searchingBar.properties.MANAME" style="background-color:white">
						</div>

						<div class="filter">
							<!-- <h5>Yo yo yo </h5> -->
							<div class="col-sm-4 filter-button acres filter-left">
								<label>
									<input type="checkbox" ng-model="checkBoxAcres.small" ng-true-value="1" ng-false-value="0" ng-click="acres_search=acreSize(checkBoxAcres)">
									<span class="fa fa-leaf"></span>
								</label>
							</div>
							<div class="col-sm-4 filter-button acres">
								<label>
									<input type="checkbox" ng-model="checkBoxAcres.medium" ng-true-value="1" ng-false-value="0" ng-click="acres_search=acreSize(checkBoxAcres)">
									<span class="fa fa-pagelines"></span>
								</label>
							</div>
							<div class="col-sm-4 filter-button acres filter-right">
								<label>
									<input type="checkbox" ng-model="checkBoxAcres.large" ng-true-value="1" ng-false-value="0" ng-click="acres_search=acreSize(checkBoxAcres)">
									<span class="fa fa-tree"></span>
								</label>
							</div>
						</div>


						<div>
							<select class="filter-bar" id="manager-filter" ng-model="filters.MGRINST">
								<option ng-click="filters.MGRINST = ''" ></option>
								<li>
								<option ng-repeat="boundary in boundaries">{{boundary.properties.MGRINST}}</option>
								</li>
							</select>
						</div>

						<div class="radius-filter">
							<input type="text" class="form-control" placeholder="Search properties by meter radius" ng-model="r_dist.small" style="background-color:white">
								<div class="search_box_button">
									<button type="button" ng-click="rad_search=radius_filter(r_dist)">GO
									</button>
								</div>
						
							<!-- <label>:</label>
							<div class="col-sm-4 filter-button acres filter-left">
								<label>
									<input type="checkbox" ng-model="r_dist.small" ng-true-value="1" ng-false-value="0">
								</label>
							</div>
							<div class="col-sm-4 filter-button acres">
								<label>
									<input type="checkbox" ng-model="r_dist.medium" ng-true-value="1" ng-false-value="0">
								</label>
							</div>
							<div class="col-sm-4 filter-button acres filter-right">
								<label>
									<input type="checkbox" ng-model="r_dist.large" ng-true-value="1" ng-false-value="0">
								</label>
							</div> -->
						</div>



						<div class="list-group">
    					<a ng-repeat="boundary in boundaries | filter: searchingBar | filter:filters.MGRINST | filter:acres_search | filter:rad_search" ng-click="focusBoundary(boundary)" class="list-group-item">
      					<h4 ng-bind="boundary.properties.MANAME"></h4>
      					<h4 class="list-group-item-heading" ng-bind="boundary.title"></h4>
      					<p class="list-group-item-text" ng-bind="boundary.content"></p>
    					</a>
  						</div>

					</div>
					<div>
						<button type="button" id="home-btn-yeah" class="home-toggle-nav btn btn-lg btn-primary" ng-click="toggleMenu()">
							<i class="fa fa-bars"></i>
						</button>
					</div>

					<h1 class="text-center"></h1>
          <!-- #site-canvas -->
        </div>
        <!-- #site-wrapper> -->
      </div>
  </div>
<div class="home-footer">
 			<span class = "home-footer-text">Made with <i style="color: #FF4D40;" class="fa fa-heart pulse"> </i> in Gainesville</span>
 		</div>
	</section>
</section>
